### VisualStudio ###
## Игнорировать временные файлы Visual Studio, результаты сборки и
## файлы, созданные популярными расширениями Visual Studio.
##
## Получить последнюю версию от https://github.com/github/gitignore/blob/master/VisualStudio.gitignore

# Пользовательские файлы
*.rsuser
*.suo
*.пользователь
*.userosscache
*.ФСЛ.докторантура

# Пользовательские файлы (MonoDevelop / Xamarin Studio)
*.userprefs

# Моно автоматически генерируемые файлы
mono_crash.*

# Результаты сборки
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr] [Мм]/
[Aa] [Rr] [Mm]64/
валун/
[Bb]in/
[Oo]bj/
[Ll]og/

# Кэш Visual Studio 2015/2017 / каталог параметров
.против/
# Раскомментировать, если у вас есть задачи, которые создают статические файлы проекта в wwwroot
#wwwroot/

# Visual Studio 2017 автоматически генерируемые файлы
сгенерированный файл/

# Результаты теста MSTest
[Tt]est [Rr]esult*/
[Bb]uild[Ll] og.*

# Нунит
*.VisualState.XML
TestResult.XML
нунит-*.XML

# Результаты сборки проекта ATL
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.с

# результаты тестов
BenchmarkDotNet.Экспонаты/

# .NET Core
проект.замок.формат JSON
проект.фрагмент.замок.формат JSON
экспонаты/

# StyleCop
StyleCopReport.XML

# Файлы, созданные Visual Studio
* _i. c
* _p. c
* _h. h
*.род
*.об.
*.iobj
*.pch
*.распределительная плата
*.ipdb
*.pgc
*.ПГД
*.ПРМ
*.sbr
*.tlb
*.tli
*.tlh
*.ПТМ
*.tmp_proj
* _wpftmp.csproj
*.бревно
*.vspscc
*.vssscc
.опирающийся
*.pidb
*.svclog
*.центр управления спутником

# Chutzpah тестовые файлы
_Наглость*

# Файлы кэша Visual C++ 
ipch/
*.АПН
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*. VC. db
*. VC.VC. opendb

# Профилировщик Visual Studio
*.psess
*.ВСП
*.вспх
*.живица

# Файлы Трассировки Visual Studio
*.e2e

# TFS 2012 локальная рабочая область
$tf/

# Набор Инструментов Автоматизации Наведения
*.gpState

# ReSharper-это надстройка для кодирования .NET
_решарпер*/
*.[Rr]e [Ss]harper
*.DotSettings.пользователь

# JustCode-это надстройка для кодирования .NET
.JustCode

# TeamCity-это надстройка для сборки
_TeamCity*

# DotCover-это инструмент покрытия кода
*.dotCover

# AxoCover-это инструмент покрытия кода
.аксокупер/*
!.axoCover / настройки.формат JSON

# Результаты покрытия кода Visual Studio
*.покрытие
*.coveragexml

# NCrunch
_NCrunch_*
.*хруст*.Местные новости.XML
nCrunchTemp_*

# MightyMoose
*.мм.*
AutoTest.Net/

# Web workbench (sass)
.sass-cache/

# Папка вывода Installshield
[Ee]xpress/

# DocProject-это надстройка генератора документации
DocProject / buildhelp/
DocProject / Help/*.HxT
DocProject / Help/*.HxC
DocProject / Help/*.hhc
DocProject / Help/*.hhk
DocProject / Help/*.hhp
DocProject / Справка / Html2
DocProject / справка / html

# Click-один раз каталог
публиковать/

# Публикация Веб-Вывода
*.[Pp]ублиш.XML
*.azurePubxml
# Примечание: прокомментируйте следующую строку, если вы хотите проверить параметры веб-развертывания,
# но строки подключения к базе данных (с потенциальными паролями) будут незашифрованы
*.pubxml
*.Издательский дом "огонек"

# Параметры публикации веб-приложения Microsoft Azure. Прокомментируйте следующую строку, если хотите
# проверка параметров публикации веб-приложения Azure, но содержащихся в нем конфиденциальных сведений
# в этих скриптах будут находиться незашифрованные данные
PublishScripts/

# NuGet Пакеты
*.nupkg
# Пакеты Символов NuGet
*.snupkg
# Папка packages может быть проигнорирована из-за восстановления пакета
** / [Pp]ackages/*
# кроме build/, который используется в качестве целевого объекта MSBuild.
!** / [Pp]ackages / build/
# Uncomment при необходимости однако обычно он будет восстановлен, когда это необходимо
#!** /[Pp]ackages / repositories.конфиг
# Проект NuGet v3.JSON файлы создает больше игнорируемых файлов
*.нугет.реквизит
*.нугет.цели

# Вывод Сборки Microsoft Azure
csx/
*.строить.csdef

# Эмулятор Microsoft Azure
ЕСФ/
РФПЛ/

# Каталоги и файлы пакетов приложений Магазина Windows
AppPackages/
BundleArtifacts/
Пакет.Сторэассоциация.XML
_pkginfo.формат txt
*.appx
*.appxbundle
*.appxupload

# Файлы кэша Visual Studio
# файлы, заканчивающиеся на .кэш можно игнорировать
*.[Cc]боль
# но следите за каталогами, заканчивающимися .Кэш
!?*.[Cc]боль/

# Другие
Клиентский ящик/
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.сул
*.pfx
*.publishsettings
Орлеан.кодеген.CS

# Включение файлов строгих имен может представлять угрозу безопасности
# (https://github.com/github/gitignore/pull/2483#issue-259490424)
#*.snk

# Поскольку существует несколько рабочих процессов, раскомментируйте следующую строку, чтобы игнорировать bower_components
# (https://github.com/github/gitignore/pull/1529#issuecomment-104372622)
#bower_components/

# RIA / Silverlight projects
сгенерированный код/

# Резервное копирование и файлы отчетов из преобразования старого файла проекта
# к более новой версии Visual Studio. Резервные копии файлов не требуются,
# потому что у нас есть git ;-)
_UpgradeReport_Files/
Резервная копия*/
UpgradeLog*.XML
UpgradeLog*.htm
ServiceFabricBackup/
*.rptproj.бак

# Файлы SQL Server
*.МДФ
*.ldf
*.ndf

# Проекты бизнес-аналитики
*.rdl.данные
*.Бим.расположение
*.Бим_*.Настройки
*.rptproj.rsuser
* - [Bb]ackup.rdl
* - [Bb]ackup ([0-9]).rdl
* - [Bb]ackup ([0-9][0-9]).rdl

# Microsoft Fakes
Фальшивые сборки/

# Файл настроек плагина GhostDoc
*.GhostDoc.XML

# Узел.JS Tools для Visual Studio
.ntvs_analysis.дат
node_modules/

# Журнал сборки Visual Studio 6
*.plg

# Файл параметров рабочего пространства Visual Studio 6
*.выбирать

# Visual Studio 6 автоматически созданный файл рабочей области (содержит открытые файлы и т.д.)
*.vbw

# Вывод сборки LightSwitch Visual Studio
**/*.HTMLClient / GeneratedArtifacts
**/*.DesktopClient / GeneratedArtifacts
**/*.DesktopClient/ModelManifest.XML
**/*.Сервер / GeneratedArtifacts
**/*.Сервер / ModelManifest.XML
_Pvt_Extensions

# Paket менеджер зависимостей
.пакет/пакет.exe
пакет-файлы/

# FAKE-F # Make
.подделка/

# CodeRush личные настройки
. cr / личные

# Python Tools для Visual Studio (PTVS)
__pycache__/
*.pyc

# Торт-раскомментируйте, если вы его используете
# инструментальные средства/**
# !инструменты / пакеты.конфиг

# Tabs Studio
*.СТШ

# Конфигурационный файл justmock телерика
*.jmconfig

# Вывод сборки BizTalk
*.БТП.CS
*.БТМ.CS
*.одх.CS
*.XSD-файл.CS

# Результаты анализа пользовательского интерфейса OpenCover
OpenCover/

# Локальные выходные данные запуска Azure Stream Analytics
ASALocalRun/

# MSBuild двоичный и структурированный журнал
*.binlog

# Файл конфигурации отладчика NVIDIA Nsight GPU
*.nvuser

# MFractors (Xamarin productivity tool) Рабочая папка
.мфрактор/

# Локальная история для Visual Studio
.местная история/

# BeatPulse healthcheck temp база данных
healthchecksdb

# Резервная папка для средства преобразования ссылок на пакеты в Visual Studio 2017
MigrationBackup/

